<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./templates/header.ejs", {stylesheet : "login", title :
    "Login"}) %>
  </head>
  <body>
    <%- include("./templates/loading.ejs") %> <% for(const key in flash){ %>

    <span role="alert" class="flash flash-<%= key %>"> <%= flash[key] %> </span>

    <% } %>

    <div id="login-main">
      <form action="/voroodi" method="post">
        <h1 style="float: left">Login</h1>
        <div>
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />
        </div>
        <button type="submit">ورود</button>
      </form>
    </div>
  </body>
</html>
