<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"
/>
<title><%= title %></title>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/<%= stylesheet %>.css" />
<link rel="stylesheet" href="/css/fonts.css" />
<script src="/js/dashboard-scripts.js" defer></script>
<script src="/js/axios.min.js"></script>
