<div class="leftItems">
  <a href="/chat/new" class="new_chat">
    <img src="/media/icons/chat.png" alt="" />
  </a>

  <span class="closeMenu" id="close-menu">
    <div>
      <div></div>
      <div></div>
    </div>
  </span>
</div>
