<link rel="stylesheet" href="/css/forTemplates/newChat.css" />

<div class="newChatSide">
  <form class="newChatBox" method="post" action="/chat/new">
    <p>Type a username to start chatting with</p>
    <input
      type="text"
      name="id"
      placeholder="User name"
      required
      autofocus
      autocomplete="off"
    />

    <input
      type="password"
      name="password"
      placeholder="password"
      id="passInp"
      autocomplete="off"
    />
    <div id="encryptMsgBtn-Handler">
      <input type="checkbox" name="encryptMsg" id="encryptMsgBtn" checked />
      <label for="encryptMsg">Encrypt messages</label>
    </div>
    <button type="submit">Start</button>
  </form>
</div>
