<div class="newChatSide">
  <form class="newChatBox" method="post" action="/chat/new">
    <p>Type a username to start chatting with</p>
    <input
      type="text"
      name="id"
      placeholder="User name"
      required
      autofocus
      autocomplete="off"
    />
    <button type="submit">Start</button>
  </form>
</div>
