<link rel="stylesheet" href="/css/forTemplates/sendInput.css" />

<div class="send_side">
  <div class="send_side_form">
    <input
      type="text"
      name="text"
      id="text_input"
      placeholder="Write your message..."
      autocomplete="off"
      required
      autofocus
    />

    <button type="submit" id="text_send">
      <img src="/media/icons/send.png" alt="" />
    </button>
  </div>
</div>
