@media screen and (max-width: 600px) {
  .mobile-menu {
    background-color: rgb(32, 32, 32);
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
  }

  .mobile-menu > * {
    margin-left: 10px;
  }

  .mobile-menu > img {
    width: 35px;
  }

  .closeMenu {
    display: flex;
  }

  .send_side {
    min-width: auto !important;
  }

  .send_side_form {
    width: 97% !important;
  }

  #text_input {
    width: 70% !important;
  }
}
