@media screen and (max-width: 600px) {

    body{
        justify-content: start;
    }

    #login-main{
        width: 80%;
        height: 65vh;
        margin-top: 10px;
    }

    input{
        padding: 3%;
        width: 90%;
    }

    #login-main > form > div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}